@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Roboto Mono", serif; */
  font-family: "Poppins", serif;
}

@media (min-width: 359px) {
  .home {
    background-image: url(/src/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .destination-bg {
    background-image: url(../public/destination/background-destination-mobile.jpg);
    background-size: 100vh 100vw;
    background-position: center;
  }
  .crew-bg {
    background-image: url(../public/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
}

@media (min-width: 738px) {
  .home {
    background-image: url(/src/assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .destination-bg {
    background-image: url(../public/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .crew-bg {
    background-image: url(../public/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
}

@media (min-width: 1024px) {
  .home {
    background-image: url(/src/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .destination-bg {
    background-image: url(../public/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .crew-bg {
    background-image: url(../public/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
}

.planet-name {
  font-family: "Roboto Mono", serif;
}

.active-crew {
  background-color: white;
}

/* 
@media only screen and (-webkit-min-device-pixel-ratio: 4) {
  body {
    background-image: url(/src/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
  }
} */
