@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 359px) {
  body {
    background-image: url(/src/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 738px) {
  body {
    background-image: url(/src/assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(/src/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* 
@media only screen and (-webkit-min-device-pixel-ratio: 4) {
  body {
    background-image: url(/src/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
  }
} */
